<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<script>
function selectrow(data) {
  console.log(data.id);
    var modal = $("#myModal")
      modal.find('.modal-title').text('Modificar Transacción de ' + data.payee)
      
      // const $select = document.querySelector('#Cuenta-modal')
      // console.log($select)
      // const $options = Array.from($select.options);
      // console.log($options)
      // console.log(data.cuenta)
      // const optionToSelect = $options.find(it => it.text === data.cuenta)
      // console.log(optionToSelect)
      // optionToSelect.selected = true
      $("#ID-modal").val(data.id).trigger('change')
      $("#Cuenta-modal").val(data.cuenta)
      $("#Transfer-modal").val(data.transfer)
      if ($("#Transfer-modal").val() == undefined) {$("#Transfer-modal")[0].selectedIndex = -1}
      console.log($("#Transfer-modal").val())
      $("#Payee-modal").val(data.payee)
      $("#Categoria-modal").val(data.categoría)
      el = data.fecha.split(" ")
      f = el[0].split("-")
      h = el[1].split(":")
      console.log("Fecha texto: " + data.fecha)
      date = (20+f[2]) + "-" + f[1] + "-" + f[0] + "T" + h[0] + ":" + h[1]// + " " + t
      console.log("Fecha: " + date)
      $("#Fecha-modal").val(date)
      $("#Monto-modal").val(data.monto)
      $("#Memo-modal").val(data.memo)
      $("#Descripcion-modal").val(data.description)      
      modal.modal("toggle");
}
</script>

<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<style>
  body.modal-open {
    padding-right: 0 !important;
  }
</style>

<body>
<div class='container'>
    <h2>Transaction Details</h2>
      <form action="/" method="post" class="col-12">
        <div class="form-group">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for = "Cuenta">Cuenta:</label>
              <select name="Cuenta" id="Cuenta" class="form-control">
                {% for u in cuentas %}
                <option value="{{u[0]}}">{{u[0]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for = "Payee">Payee:</label>
              <input type="text" name="Payee" id="Payee" placeholder="Payee" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label for = "Categoria">Categoría:</label>
              <input type="text" name="Categoria" id="Categoria" placeholder="Categoría" list="CatList" class="form-control">
              <datalist id="CatList">
                {% for u in categs %}
                <option value="{{u[0]}}">{{u[0]}}</option>
                {% endfor %}
              </datalist>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for = "Fecha">Fecha:</label>
              <input type="datetime-local" name="Fecha" id="Fecha" value='{{now}}' class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for = "Monto">Monto:</label>
              <input type="number" min="-20000" max="20000" step="0.01" name="Monto" id="Monto" value="-0.00" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for = "Memo">Memo:</label>
              <input type="text" name="Memo" id="Memo" placeholder="Memo" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-2">
              <label for = "Descripcion" class="col-form-label">Descripción:</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="Descripcion" id="Descripcion" placeholder="Descripción" class="form-control">
            </div>                  
            <div class="col-sm-2">
              <input type="submit" name="Operación" class="btn btn-primary btn-block" value="Transacción"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-2">
              <label class="col-form-label" for = "Transferencia">Transfer a:</label>
            </div>
              <div class="col-sm-3">
            <select name="Transferencia" id="Transferencia" class="form-control">
              {% for u in cuentas %}
              <option value="{{u[0]}}">{{u[0]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-2">
            <label class="col-form-label" for = "Monto_Recibido">Recibido:</label>
          </div>
          <div class="col-sm-3">
            <input type="number" min="-20000" max="20000" step="0.01" name="MontoRec" id="MontoRec" placeholder="0.00" class="form-control">
          </div>
          <div class="col-sm-2">
            <input type="submit"  name="Operación" class="btn btn-primary btn-block" value="Transferencia"/>            
          </div>
          </div>
        </div>
      </form>
</div>

<div>
<table class="table table-hover" id="transactions">
  <thead class="thead-dark">
  <tr>
    <th>Cuenta</th>
    <th>Transferencia</th>
    <th>Descripción</th>
    <th>Payee</th>
    <th>Categoría</th>
    <th>Fecha</th>
    <th>Monto</th>
    <!-- <th>Memo</th> -->
    <!-- <th>Tag</th> -->
    <!-- <th>Input</th> -->
  </tr>
  </thead>
  <tbody>
  {% for u in top %}
  <tr onclick="selectrow({{ u }})">
    <td>{{ u.cuenta }}</td>
    <td>{{ u.transfer }}</td>
    <td>{{ u.description }}</td>
    <td>{{ u.payee }}</td>
    <td>{{ u.categoría }}</td>
    <td>{{ u.fecha }}</td>
    <td class="text-right">{{ '{:,.2f}'.format(u.monto) }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

</div>

</body>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form action="/" method="post" class="col-12">
              <div class="form-group">
                <div class="form-row">
                  <input type="hidden" name="ID" id="ID-modal" value=0>
                  <div class="form-group col-md-3">
                    <label for = "Cuenta">Cuenta:</label>
                    <select name="Cuenta" id="Cuenta-modal" class="form-control">
                      {% for u in cuentas %}
                      <option value="{{u[0]}}">{{u[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for = "Transfer">Transfer:</label>
                    <select name="Transfer" id="Transfer-modal" class="form-control">
                      {% for u in cuentas %}
                      <option value="{{u[0]}}">{{u[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for = "Payee">Payee:</label>
                    <input type="text" name="Payee" id="Payee-modal" placeholder="Payee" class="form-control">
                  </div>
                  <div class="form-group col-md-3">
                    <label for = "Categoria">Categoría:</label>
                    <input type="text" name="Categoria" id="Categoria-modal" placeholder="Categoría" list="CatList" class="form-control">
                    <datalist id="CatList">
                      {% for u in categs %}
                      <option value="{{u[0]}}">{{u[0]}}</option>
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for = "Fecha">Fecha:</label>
                    <input type="datetime-local" name="Fecha" id="Fecha-modal" value='{{now}}' class="form-control">
                  </div>
                  <div class="form-group col-md-3">
                    <label for = "Monto">Monto:</label>
                    <input type="number" min="-20000" max="20000" step="0.01" name="Monto" id="Monto-modal" value="-0.00" class="form-control">
                  </div>
                  <div class="form-group col-md-3">
                    <label for = "Memo">Memo:</label>
                    <input type="text" name="Memo" id="Memo-modal" placeholder="Memo" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-2">
                    <label for = "Descripcion" class="col-form-label">Descripción:</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" name="Descripcion" id="Descripcion-modal" placeholder="Descripción" class="form-control">
                  </div>                  
                  <div class="col-sm-2">
                    <input type="submit" name="Operación" class="btn btn-primary btn-block" value="Modificación"/>
                  </div>
                </div>
              </div>
            </form>
    </div>
  </div>
</div>

</html>