<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script type=text/javascript>
window.addEventListener('DOMContentLoaded', function () {
  var testLink = document.querySelector('a#test');
  if (testLink) {
    testLink.addEventListener('click', function (e) {
      e.preventDefault();
      fetch('/background_process_test')
        .then(function (response) {
          // do nothing
        })
        .catch(function (error) {
          console.error(error);
        });
    });
  }
  var myOffcanvas = document.getElementById("myOffcanvas");
  if (myOffcanvas) {
    new bootstrap.Offcanvas(myOffcanvas, {backdrop: false});
  }
});
</script>

<script>
function selectrow(data) {
  console.log(data.id);
  var modal = document.getElementById("myModal")//$("#myModal")
  modal.querySelector('.modal-title').textContent = 'Modificar Transacción de ' + data.payee  
  document.querySelector("#ID-modal").value = data.id;
  document.querySelector("#Cuenta-modal").value = data.cuenta;
  document.querySelector("#Transfer-modal").value = data.transfer;
  if (!document.querySelector("#Transfer-modal").value) {
    document.querySelector("#Transfer-modal").selectedIndex = -1;
  }
  document.querySelector("#Payee-modal").value = data.payee;
  document.querySelector("#Categoria-modal").value = data.categoría;
  var el = data.fecha.split(" ");
  var f = el[0].split("-");
  var h = el[1].split(":");
  var date = (20 + f[2]) + "-" + f[1] + "-" + f[0] + "T" + h[0] + ":" + h[1];
  document.querySelector("#Fecha-modal").value = date;
  document.querySelector("#Monto-modal").value = data.monto;
  document.querySelector("#Memo-modal").value = data.memo;
  document.querySelector("#Descripcion-modal").value = data.description;
  const modal_toggle = new bootstrap.Modal(document.getElementById('myModal'))
  modal_toggle.toggle()
}
function closemodal(){
  const modal_toggle = new bootstrap.Modal(document.getElementById('myModal'))
  modal_toggle.close()
}
</script>

<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
  body.modal-open {
    padding-right: 0 !important;
  }
  div.row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .container-sm{
    max-width:1200;
    margin:0 auto;/*make it centered*/
  }
  .container-lg{
      max-width:1600;
      margin:0 auto;/*make it centered*/
  }
  .modal-lg{
    max-width:900px
  }
  .offcanvas {
	background-color: #effff2;
  top: initial;
  bottom: initial;
}
</style>

<body>
  <div class='container-sm'>
    <div class="row justify-content-md-center">
    <h2>Transaction Details</h2>
      <form action="/" method="post" class="input group mb-3">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for = "Cuenta">Cuenta:</label>
              <select name="Cuenta" id="Cuenta" class="form-control">
                {% for u in cuentas %}
                <option value="{{u[0]}}">{{u[0]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label for = "Payee">Payee:</label>
              <input type="text" name="Payee" id="Payee" placeholder="Payee" class="form-control">
            </div>
            <div class="col-md-4">
              <label for = "Categoria">Categoría:</label>
              <input type="text" name="Categoria" id="Categoria" placeholder="Categoría" list="CatList" class="form-control">
              <datalist id="CatList">
                {% for u in categs %}
                <option value="{{u[0]}}">{{u[0]}}</option>
                {% endfor %}
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for = "Fecha">Fecha:</label>
              <input type="datetime-local" name="Fecha" id="Fecha" value='{{now}}' class="form-control">
            </div>
            <div class="col-md-3">
              <label for = "Monto">Monto:</label>
              <input type="number" min="-1000000" max="1000000" step="0.01" name="Monto" id="Monto" value="-0.00" class="form-control">
            </div>
            <div class="col-md-3">
              <label for = "Memo">Memo:</label>
              <input type="text" name="Memo" id="Memo" placeholder="Memo" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for = "Descripcion" class="col-form-label">Descripción:</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="Descripcion" id="Descripcion" placeholder="Descripción" class="form-control">
            </div>                  
            <div class="col-sm-2">
              <div class="d-grid">
                <input type="submit" name="Operación" class="btn btn-primary" value="Transacción"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <label class="col-form-label" for = "Transferencia">Transfer a:</label>
            </div>
              <div class="col-sm-3">
            <select name="Transferencia" id="Transferencia" class="form-control">
              {% for u in cuentas %}
              <option value="{{u[0]}}">{{u[0]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-2">
            <label class="col-form-label" for = "Monto_Recibido">Recibido:</label>
          </div>
          <div class="col-sm-3">
            <input type="number" min="-1000000" max="1000000" step="0.01" name="MontoRec" id="MontoRec" placeholder="0.00" class="form-control">
          </div>
          <div class="col-sm-2">
            <div class="d-grid">
            <input type="submit"  name="Operación" class="btn btn-primary" value="Transferencia"/>   
          </div>         
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>


<!-- TABLE OF TOP 10 TRANSACTIONS BY DATE -->
<div class="container-lg">
  <!-- <div class="row"> -->
    <div class="d-grid d-md-block">
      <form action="/" method="post" class="input group mb-3">
      <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Search Transactions</button>
      <input type="submit" name="Operación" class="btn btn-outline-secondary" value="Clear Search"/>
      </form>
    </div>
  <!-- </div> -->
  
  <div class = "table-responsive-lg">
    <table class="table table-striped table-hover" id="transactions">
      <thead class="table-dark">
      <tr>
        <th>Cuenta</th>
        <th>Transferencia</th>
        <th>Descripción</th>
        <th>Payee</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Monto</th>
        <!-- <th>Memo</th> -->
        <!-- <th>Tag</th> -->
        <!-- <th>Input</th> -->
      </tr>
      </thead>
      <tbody>
      {% for u in top %}
      <tr onclick="selectrow({{ u }})">
        <td>{{ u.cuenta }}</td>
        <td>{{ u.transfer }}</td>
        <td>{{ u.description }}</td>
        <td>{{ u.payee }}</td>
        <td>{{ u.categoría }}</td>
        <td>{{ u.fecha }}</td>
        <td class="text-right">{{ '{:,.2f}'.format(u.monto) }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

</div>

<!-- OFFCANVAS WITH SEARCH FUNCTIONALITY -->
<div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <!-- <div class="container-sm"> -->
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTopLabel">Search Transaction</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" width="0.5em"></button>
  </div>
  <div class="offcanvas-body">
    <form action="/" method="post" class="input group mb-3">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for = "Cuenta">Cuenta:</label>
            <select name="Cuenta" id="Cuenta-search" class="form-control">
              <option selected value></option>
              {% for u in cuentas %}
              <option value="{{u[0]}}">{{u[0]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <label for = "Transfer">Transfer:</label>
            <select name="Transfer" id="Transfer-search" class="form-control">
              <option selected value></option>
              {% for u in cuentas %}
              <option value="{{u[0]}}">{{u[0]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <label for = "Payee">Payee:</label>
            <input type="text" name="Payee" id="Payee-search" placeholder="Payee" class="form-control">
          </div>
          <div class="col-md-3">
            <label for = "Categoria">Categoría:</label>
            <input type="text" name="Categoria" id="Categoria-search" placeholder="Categoría" list="CatList" class="form-control">
            <datalist id="CatList">
              {% for u in categs %}
              <option value="{{u[0]}}">{{u[0]}}</option>
              {% endfor %}
            </datalist>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for = "Fecha">Fecha Inicial:</label>
            <input type="datetime-local" name="Fecha Inicial" id="Fecha-inicial-search" class="form-control">
          </div>
          <div class="col-md-3">
            <label for = "Fecha">Fecha Final:</label>
            <input type="datetime-local" name="Fecha Final" id="Fecha-final-search" value='{{now}}' class="form-control">
          </div>
          <div class="col-md-3">
            <label for = "Monto">Monto:</label>
            <input type="number" min="-1000000" max="1000000" step="0.01" name="Monto" id="Monto-search" value="-0.00" class="form-control">
          </div>
          <div class="col-md-3">
            <label for = "Memo">Memo:</label>
            <input type="text" name="Memo" id="Memo-search" placeholder="Memo" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for = "Descripcion" class="col-form-label">Descripción:</label>
          </div>
          <div class="col-md-8">
            <input type="text" name="Descripcion" id="Descripcion-search" placeholder="Descripción" class="form-control">
          </div>                  
          <div class="col-md-2">
            <div class="d-grid">
            <input type="submit" name="Operación" class="btn btn-primary" value="Buscar"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
<!-- </div> -->
</div>

<!-- MODAL FOR TRANSACTION MODIFICATION -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form action="/" method="post" class="input group mb-3">
              <div class="form-group">
                <div class="row">
                  <input type="hidden" name="ID" id="ID-modal" value=0>
                  <div class="col-md-3">
                    <label for = "Cuenta">Cuenta:</label>
                    <select name="Cuenta" id="Cuenta-modal" class="form-control">
                      {% for u in cuentas %}
                      <option value="{{u[0]}}">{{u[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for = "Transfer">Transfer:</label>
                    <select name="Transfer" id="Transfer-modal" class="form-control">
                      {% for u in cuentas %}
                      <option value="{{u[0]}}">{{u[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for = "Payee">Payee:</label>
                    <input type="text" name="Payee" id="Payee-modal" placeholder="Payee" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <label for = "Categoria">Categoría:</label>
                    <input type="text" name="Categoria" id="Categoria-modal" placeholder="Categoría" list="CatList" class="form-control">
                    <datalist id="CatList">
                      {% for u in categs %}
                      <option value="{{u[0]}}">{{u[0]}}</option>
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for = "Fecha">Fecha:</label>
                    <input type="datetime-local" name="Fecha" id="Fecha-modal" value='{{now}}' class="form-control">
                  </div>
                  <div class="col-md-3">
                    <label for = "Monto">Monto:</label>
                    <input type="number" min="-1000000" max="1000000" step="0.01" name="Monto" id="Monto-modal" value="-0.00" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <label for = "Memo">Memo:</label>
                    <input type="text" name="Memo" id="Memo-modal" placeholder="Memo" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label for = "Descripcion" class="col-form-label">Descripción:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="Descripcion" id="Descripcion-modal" placeholder="Descripción" class="form-control">
                  </div>                  
                  <div class="col-md-2">
                    <div class="d-grid">
                    <input type="submit" name="Operación" class="btn btn-primary" value="Modificación"/>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="d-grid">
                    <input type="submit" name="Operación" class="btn btn-danger" value="Eliminar"/>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
    </div>
  </div>
</div>
</body>

</html>